<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>655077916158-6m3u2bvgsrm1r8poeg1mmub98qi18lob.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.655077916158-6m3u2bvgsrm1r8poeg1mmub98qi18lob</string>
	<key>API_KEY</key>
	<string>AIzaSyDFn0zOpJkcCewvzwdisaFKwL--5HybapM</string>
	<key>GCM_SENDER_ID</key>
	<string>655077916158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ferax.powergolden</string>
	<key>PROJECT_ID</key>
	<string>ocotlan1-e7ce8</string>
	<key>STORAGE_BUCKET</key>
	<string>ocotlan1-e7ce8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655077916158:ios:7e89800592b052c4e514af</string>
	<key>DATABASE_URL</key>
	<string>https://ocotlan1-e7ce8.firebaseio.com</string>
</dict>
</plist>