@media only screen and (max-width: 767px) {
    .navbar {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .d-icon-bag {
        text-align: center;
    }

    .d-info-header {
        text-align: center;
    }

    .btn-bag {
        padding: 0px;
        margin: 0px;

    }

    .d-info-header .t1 {
        font-size: 40px;

    }

    .d-info-header .t2 {
        font-size: 40px;
        margin-top: 0px;
    }

    .navbar-collapse {
        padding-bottom: 40px;
        padding-top: 40px;
    }

    .d-banner-linea {
        height: 230px;
        border-radius: 10px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-left: 20px;
        padding-right: 20px;

    }

    .d-asistencia {
        display: none;
    }

    .row-destacado {
        padding-top: 30px;
    }

    .d-footer-left {
        text-align: center;
    }

    .d-footer-right {
        text-align: center;
        padding-top: 20px;
    }

    .d-footer-right .t1 a {
        margin-left: 20px;
        margin-right: 20px;
    }

    .d-asistencia-movil {
        display: block;
    }

    .d-banner-destacado {
        border-radius: 10px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 50px;
        padding-bottom: 50px;

    }

    .d-footer-form .t3 {
        text-align: center;
    }

    .d-footer-form .t4 {
        text-align: center;
    }

    .d-form-login {
        background-color: white;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-top: 50px;
        border-radius: 10px;
    }

    .d-form-recuperar {
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .sec-white {
        padding-top: 140px;
    }

    .form-white .t2 {
        text-align: center;
    }

    .d-menu-left {
        padding-top: 120px;
        padding-bottom: 50px;

    }

    .d-img-name {
        padding-bottom: 40px;
    }

    .d-cont-right {
        padding-top: 50px;
    }

    .d-btn-editar-perfil {
        text-align: left;
    }

    .small-text-cuenta {
        padding-top: 10px;
    }

    .d-cont-right {
        padding-left: 0px;
    }

    .row-breadcrumb {
        margin-top: 40px;
    }

    .d-pro-ind {
        padding-left: 20px;
        padding-right: 20px;
    }

    .d-info-pro-ind {
        padding-top: 20px;
    }

    .price-pro-ind {
        text-align: left;
        padding-top: 10px;
        margin-bottom: 0px;
    }

    .btn-add-car {
        margin-top: 20px;
    }


    .input-search {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 12px;
        height: 50px;
        width: 95%;
    }

    .btn-search {
        width: 50px;
        height: 50px;
        padding-top: 10px;

    }

    .btn-search > img {
        width: 20px;
    }

    .d-info-carrito .t1 {
        padding-top: 10px;
    }
    
    .d-item-mision{
        height: auto;
        margin-bottom: 25px;
    }
    
    .navbar-bottom{
        display: block;
    }
    
    .d-img-pro-lp > img{
        width: 100%;
    }
    
    .d-video .t1{
        padding-top: 2px;
    }
    
    .d-desc .t1{
        padding-top: 3px;
    }
}
